@import "src/util";

.area-panel {
  overflow-y: auto;
  height: 100%;

  @extend .gm-panel-radius;

  background-color: #fff;
  padding: 4px 10px;
  box-sizing: border-box;
  padding-left: 20px;

  > .toc-panel {
    position: fixed;
    right: 0;
    width: 240px;
    padding: 6px 0;
    background-color: #f4f8de;
    border-radius: 4px;
    font-size: 14px;
    color: #5a5858;
    font-weight: 500;
    > div {
      margin-bottom: 2px;
      padding-left: 6px;
      box-sizing: border-box;
      &:hover {
        background-color: #db7093;
        color: #fff;
        cursor: pointer;
      }
    }

    > .lv2 {
      padding-left: 12px;
    }
  }

  > .markdown-body {
    h1, h2, h3, h4 {
      font-family: "Helvetica Neue", sans-serif;
      color: #5b5654;
      margin: 4px 0;
      font-size: 20px;
    }

    h2,h3,h4 {
      font-size: 18px;
      color: #867f7b;
      font-family: Tahoma, sans-serif;
      font-weight: 500;

    }

    p {
      color: #7B9CA5;
      margin: 0;
      font-weight: 400;
      font-family: Lato-Medium, sans-serif;
      font-size: 14px;
      line-height: 18px;
    }

    .emj {
      width: 22px;

      & {
        vertical-align: top;
        padding: 0 4px;
      }
    }

    > .hljs {
      background-color: #edeeee !important;
      max-height: 330px;
      overflow-y: auto;
    }

    > .metaz-text {
      background-color: #cbf6d1 !important;
      padding-top: 20px;

      > .metaz-float {
        position: relative;
        display: inline;
        background-color: #fff;
        height: 0;

        > div {
          display: inline;
          position: absolute;
          top: -24px;
          background-color: #fff;
          padding: 0 6px;
          border-bottom-right-radius: 4px;
          border-bottom-left-radius: 4px;
          padding-bottom: 1px;
          z-index: 100;
          user-select: none;
        }
      }
    }


    iframe {
      border: none;
      width: 500px;
      min-height: 300px;
      border-radius: 8px;
    }
  }
}
